<html>
    <head>
        <title>The Sweetest Day With DG</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 20.07.2019, 15:24</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Vamos com calma que vai sair um template mais legalzinho</p>
        </div>

        <div>
            <p>publicado: 20.07.2019, 15:24</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Vamos com calma que vai sair um template mais legalzinho</p>
        </div>
    </body>
</html>